
    <!----------------- HERO SECTION START  ------------------------>
    <section class="container main_content pt_top verify_scrollbar">
        <div class="col-md-8 progress_card">
            <div class="progress_bar">
                <div class="step-1" id="checkout-progress" data-current-step="1">
                    <div class="progress-bar">
                        <div class="step step-1 active"><span> 1</span>

                            <div class="fa fa-check opaque"></div>
                            <div class="step-label">Personal verification</div>
                        </div>
                        <div class="step step-2"><span> 2</span>
                            <div class="fa fa-check opaque"></div>
                            <div class="step-label">Business verification</div>
                        </div>
                        <div class="step step-3"><span> 3</span>
                            <div class="fa fa-check opaque"></div>
                            <div class="step-label">Director verification</div>
                        </div>
                        <div class="step step-4"><span> 4</span>
                            <div class="fa fa-check opaque"></div>
                            <div class="step-label">Review and Finish</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="verify_intro">
                    <h1 class="verify_heading mb_24 ">Hey Rahul! <br class="d-none d-md-block">
                        Welcome to AIG</h1>
                    <h3 class="fs-17 fw-400 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor
                        incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore </h3>
                    <button class="apikey_btn fs-19 fw-600 black">Browse Documentation</button>
                    <h4 class="mb-8 fs-20 fw-600 white">Need help?</h4>
                    <h6 class="mb-0 fs-17 fw-400 light">Lorem ipsum dolor sit amet, conse                                                                                                                                                                                                      ctetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore Lorem ipsum.</h6>
                </div>
            </div>
            <div class="col-md-8 ">

                <div class="Verify_details">
                    <!-- personal information section progressbar-1 -->
                    <div class="scrollbar_section">
                        <section id="section1" class="sections1" style="display:block;">
                            <div>
                                <div class="verification_heading mb_30">
                                    <h2 class="fs-28 fw-600 black mb_12">Personal Information</h2>
                                    <h3 class="fs-16 fw-400 info mb-0">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing
                                        elit,
                                        sed do eiusmod tempor incididunt ut labore
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, </h3>
                                </div>
                                <div class="material-textfield mb_30">
                                    <input placeholder=" " type="text" class="bg_light">
                                    <label>Legal First name</label>
                                </div>
                                <div class="material-textfield mb_30">
                                    <input placeholder=" " type="text" class="bg_light">
                                    <label>Legal Last name</label>
                                </div>

                                <!-- identification tabs section -->
                                <div>
                                    <h3 class="fs-15 fw-600 black mb_20">Means of identification</h3>
                                    <ul class="nav nav-pills mb-4 gap_24" id="pills-tab" role="tablist">
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-NINcard" type="button" role="tab"
                                                aria-controls="pills-NINcard1" aria-selected="true">NIN card</button>
                                        </li>
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Passport" type="button" role="tab"
                                                aria-controls="pills-Passport1" aria-selected="false">Passport</button>
                                        </li>
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Driverslicense" type="button" role="tab"
                                                aria-controls="pills-Driverslicense1" aria-selected="false">Drivers
                                                license</button>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-NINcard" role="tabpanel"
                                            aria-labelledby="pills-home-tab" tabindex="0">
                                            <div class="material-textfield mb_30">
                                                <div class="material-textfield mb_30">
                                                    <input placeholder="" type="text" class="input_feilds bg_light">
                                                    <label>NIN number</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Passport" role="tabpanel"
                                            aria-labelledby="pills-profile-tab" tabindex="0">
                                            <div class="material-textfield mb_30">
                                                <input placeholder="" type="text" class="input_feilds bg_light">
                                                <label>Passport number</label>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Driverslicense" role="tabpanel"
                                            aria-labelledby="pills-contact-tab" tabindex="0">
                                            <div class="material-textfield mb_30">
                                                <input placeholder="" type="text" class="input_feilds bg_light">
                                                <label>Drivers license number</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- verification tabs section -->
                                <div>
                                    <h3 class="fs-15 fw-600 black mb_20">Physical address verification</h3>
                                    <ul class="nav nav-pills mb-4 gap_24" id="pills-tab" role="tablist">
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Utilitybill" type="button" role="tab"
                                                aria-controls="pills-Utilitybill1" aria-selected="true">Utility
                                                bill</button>
                                        </li>
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Electricitybill" type="button" role="tab"
                                                aria-controls="pills-Electricitybill1" aria-selected="false">Electricity
                                                bill</button>
                                        </li>
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-AIGblockcode" type="button" role="tab"
                                                aria-controls="pills-AIGblockcode1" aria-selected="false">AIG
                                                blockcode</button>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-Utilitybill" role="tabpanel"
                                            aria-labelledby="pills-home-tab" tabindex="0">
                                            <div class="position-relative  file_select_box">
                                                <input type="file" class="input_feilds bg_light file_select"
                                                    name="fileupload">
                                                <label for="fileupload" class="font-15 font-400 secondary w-75"><i
                                                        class="fi fi-br-plus-small lh-0 fs-20"></i>Utility Bill</label>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Electricitybill" role="tabpanel"
                                            aria-labelledby="pills-profile-tab" tabindex="0">
                                            <div class="position-relative  file_select_box">
                                                <input type="file" class="input_feilds bg_light file_select"
                                                    name="fileupload">
                                                <label for="fileupload" class="font-15 font-400 secondary w-75"><i
                                                        class="fi fi-br-plus-small lh-0 fs-20"></i>Electricity
                                                    bill</label>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-AIGblockcode" role="tabpanel"
                                            aria-labelledby="pills-contact-tab" tabindex="0">
                                            <div class="material-textfield mb_30">
                                                <input placeholder="" type="text" class="input_feilds bg_light">
                                                <label>AIG blockcode</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Business Verification section progressbar-2 -->
                        <section id="section2" class="sections2" style="display:none;">
                            <div>
                                <div class="verification_heading mb_30">
                                    <h2 class="fs-28 fw-600 black mb_12">Business Verification</h2>
                                    <h3 class="fs-16 fw-400 info mb-0">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing
                                        elit,
                                        sed do eiusmod tempor incididunt ut labore
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, </h3>
                                </div>

                                <div class="material-textfield mb_30">
                                    <input placeholder=" " type="text" class="bg_light">
                                    <label>Business name</label>
                                </div>
                                <div class="material-textfield mb_30">
                                    <!-- <label>Physical address</label> -->
                                    <select class="" aria-label="Default select example">
                                        <option selected>Type of business </option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="material-textfield mb_30">
                                    <input placeholder=" " type="text" class="bg_light">
                                    <label> Business physical address</label>
                                </div>
                                <div class="material-textfield mb_30">
                                    <input placeholder=" " type="text" class="bg_light">
                                    <label>Registration number</label>
                                </div>
                                <div class="material-textfield mb_30">
                                    <input placeholder=" " type="text" class="bg_light">
                                    <label> Tax Identification Number</label>
                                </div>

                                <!-- verification tabs section -->
                                <div>
                                    <h3 class="fs-15 fw-600 black mb_20">Physical address verification</h3>
                                    <ul class="nav nav-pills mb-4 gap_24" id="pills-tab" role="tablist">
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Utilitybill2" type="button" role="tab"
                                                aria-controls="pills-Utilitybill1" aria-selected="true">Utility
                                                bill</button>
                                        </li>
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Electricitybill2" type="button" role="tab"
                                                aria-controls="pills-Electricitybill1" aria-selected="false">Electricity
                                                bill</button>
                                        </li>
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-AIGblockcode2" type="button" role="tab"
                                                aria-controls="pills-AIGblockcode1" aria-selected="false">AIG
                                                blockcode</button>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-Utilitybill2" role="tabpanel"
                                            aria-labelledby="pills-home-tab" tabindex="0">
                                            <div class="position-relative  file_select_box">
                                                <input type="file" class="input_feilds bg_light file_select"
                                                    name="fileupload">
                                                <label for="fileupload" class="font-15 font-400 secondary w-75"><i
                                                        class="fi fi-br-plus-small lh-0 fs-20"></i>Utility Bill</label>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Electricitybill2" role="tabpanel"
                                            aria-labelledby="pills-profile-tab" tabindex="0">
                                            <div class="position-relative  file_select_box">
                                                <input type="file" class="input_feilds bg_light file_select"
                                                    name="fileupload">
                                                <label for="fileupload" class="font-15 font-400 secondary w-75"><i
                                                        class="fi fi-br-plus-small lh-0 fs-20"></i>Electricity
                                                    bill</label>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-AIGblockcode2" role="tabpanel"
                                            aria-labelledby="pills-contact-tab" tabindex="0">
                                            <div class="material-textfield mb_30">
                                                <input placeholder="" type="text" class="input_feilds bg_light">
                                                <label>AIG blockcode</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Director Verification section progressbar-3 -->
                        <section id="section3" class="sections3" style="display:none;">
                            <div>
                                <div class="verification_heading mb_30">
                                    <h2 class="fs-28 fw-600 black mb_12">Director Verification</h2>
                                    <h3 class="fs-16 fw-400 info mb-0">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing
                                        elit,
                                        sed do eiusmod tempor incididunt ut labore
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, </h3>
                                </div>
                                <div class="material-textfield mb_30">
                                    <input placeholder=" " type="text" class="bg_light">
                                    <label>Name of director</label>
                                </div>
                                <div class="material-textfield mb_30">
                                    <input placeholder=" " type="text" class="bg_light">
                                    <label>Physical address</label>
                                </div>
                                <!-- identification tabs section -->
                                <div>
                                    <h3 class="fs-15 fw-600 black mb_20">Means of identification</h3>
                                    <ul class="nav nav-pills mb-4 gap_24" id="pills-tab" role="tablist">
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-NINcard2" type="button" role="tab"
                                                aria-controls="pills-NINcard1" aria-selected="true">NIN card</button>
                                        </li>
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Passport2" type="button" role="tab"
                                                aria-controls="pills-Passport1" aria-selected="false">Passport</button>
                                        </li>
                                        <li class="nav-item tabs" role="presentation">
                                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                                data-bs-target="#pills-Driverslicense2" type="button" role="tab"
                                                aria-controls="pills-Driverslicense1" aria-selected="false">Drivers
                                                license</button>
                                        </li>

                                    </ul>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active" id="pills-NINcard2" role="tabpanel"
                                            aria-labelledby="pills-home-tab" tabindex="0">
                                            <div class="material-textfield mb_30">
                                                <div class="material-textfield mb_30">
                                                    <input placeholder="" type="text" class="input_feilds bg_light">
                                                    <label>NIN number</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Passport2" role="tabpanel"
                                            aria-labelledby="pills-profile-tab" tabindex="0">
                                            <div class="material-textfield mb_30">
                                                <input placeholder="" type="text" class="input_feilds bg_light">
                                                <label>Passport number</label>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pills-Driverslicense2" role="tabpanel"
                                            aria-labelledby="pills-contact-tab" tabindex="0">
                                            <div class="material-textfield mb_30">
                                                <input placeholder="" type="text" class="input_feilds bg_light">
                                                <label>Drivers license number</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </section>
                        <!-- Review and finish section progressbar-4 -->
                        <section id="section4" class="sections4" style="display:none;">
                            <div>
                                <div class="verification_heading mb_30">
                                    <h2 class="fs-28 fw-600 black mb_12">Review and finish</h2>
                                    <h3 class="fs-16 fw-400 info mb-0">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing
                                        elit,
                                        sed do eiusmod tempor incididunt ut labore
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, </h3>
                                </div>
                                <div>
                                    <div class="editor mb_30">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h3 class="success fs-18 fw-600 mb-0">Personal verification</h3>
                                            <a href="" class=""><img src="assets/images/svg_img/edit2.svg"></a>
                                        </div>
                                    </div>
                                    <div class="editor mb_30">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h3 class="success fs-18 fw-600 mb-0">Business verification</h3>
                                            <a href="" class=""><img src="assets/images/svg_img/edit2.svg"></a>
                                        </div>
                                    </div>
                                    <div class="editor mb_30">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h3 class="success fs-18 fw-600 mb-0">Director verification</h3>
                                            <a href="" class=""><img src="assets/images/svg_img/edit2.svg"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <div class="position-relative">
                                        <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox"
                                            value="value2" checked="">
                                        <label for="styled-checkbox-2"
                                            class="fs-16 fw-500 black mb-0 d-flex justify-content-center align-items-center  mx-1">
                                        </label>

                                    </div>
                                    <h5 class="fs-16 fw-400 mb-0 checkbox_text">By submitting this form, you agree to
                                        the <span class="success">AIG Service Agreement</span>,
                                        to receiving text messages from <br>AIG,
                                        and you certify that the information provided is complete and correct.</h5>
                                </div>
                            </div>
                        </section>
                    </div>
                    <!-- buttons -->
                    <div class="button-container">
                        <!-- <div class="btn btn-prev disabled"> previous step</div> -->
                        <div class="verify_btn btn-next">Continue</div>
                        <div class="verify_btn btn-submit" style="display:none;" (click)="openPendingPage()">Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
