
<div class="login position-relative">
       
    <div class="container h-100">
        <img src="assets/images/temp_img/login shape top.png" class="login_img_top">
        <img src="assets/images/temp_img/login-back.png" class="login_back_img">
        <div class="col-md-7 m-auto login_pages">
            <div class="login_page">
                <div class="login_top">
                    <img src="assets/images/temp_img/AIG Logo.png">
                </div>
                <div class="login_content">
                    <div class="material-textfield mb_24">
                        <input placeholder=" " type="text">
                        <label>Username/Email</label>
                    </div>
                    <div class="material-textfield mb-3">
                        <input placeholder=" " type="password">
                        <label>Password</label>
                    </div>
                    <div class="mb_40 checkbox">
                        <div class="position-relative">
                            <input class="styled-checkbox" id="styled-checkbox-2" type="checkbox" value="value2"
                                checked>
                            <label for="styled-checkbox-2" class="fs-16 fw-500 black mb-0">Remember Me</label>
                        </div>

                        <a  routerLink="/otp" class="fs-16 fw-600 success mb-0">Forgot password?
                        </a>
                    </div>
                    <a href="#" class="btn_primary fs-22 fw-600 w-100 mb_40" >Log in</a>

                    <div class="d-flex justify-content-center gap_24 mb_26">
                        <div class="login_icons">
                            <img src="assets/images/svg_img/google.svg">
                        </div>
                        <div class="login_icons">
                            <img src="assets/images/svg_img/Fackbook2.svg">
                        </div>
                    </div>
                    <a  href="javascript:void()" class="fs-16 fw-500 info mb-0 d-flex justify-content-center" >New here? <span class="fs-18 fw-600 success mx-0 ms-2" routerLink="/signup"> Sign Up</span> </a>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/temp_img/login Shape bottom.png" class="login_img_bottom">
</div>
