<!----------------- HERO SECTION START  ------------------------>

<section class="container main_content pt_top verify_scrollbar">

    <div class="row verified_card">
        <div class="col-md-4">
            <div class="verify_intro">
                <h1 class="verify_heading mb_24 ">Hey Rahul ! <br class="d-none d-md-block">
                    Welcome to AIG</h1>
                <h3 class="fs-17 fw-400 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor
                    incididunt ut labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor
                    incididunt ut labore </h3>
                <button class="apikey_btn fs-19 fw-600 black">Browse Documentation</button>
                <h4 class="mb-8 fs-20 fw-600 white">Need help?</h4>
                <h6 class="mb-0 fs-17 fw-400 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt ut labore Lorem ipsum.</h6>
            </div>
        </div>
        <div class="col-md-8 ">

            <div class="Verified_details">
                <img src="assets/images/temp_img/verifed image.png" class="status_img">
                <div class="">
                    <div class="d-flex justify-content-center mb_30 submit_status">
                        <img src="assets/images/temp_img/verified2.png" class="img-fluid">
                    </div>
                    <div class="text-center verified">
                        <h3 class="success fs-38 fw-600 mb_30">Verified</h3>
                        <h4 class="info fs-16 fw-400 mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do <br> eiusmod tempor incididunt ut labore Lorem ipsum dolor sit <br> amet,
                            consectetur adipiscinge</h4>
                    </div>

                </div>
                <!-- buttons -->
                <div class="Generate_btn p-0">
                    <div class="verify_btn btn-next">Generate API Key</div>
                </div>
            </div>
        </div>
    </div>
</section>
