
    <!----------------- HEADER SECTION START  ------------------------>
    <header id="hero-image" class="overflow-hidden position-relative">
        <nav class="navbar navbar-expand-lg navbar-light  navbar_box  sticky">
            <div class="container main_content">
                <a class="navbar-brand">
                    <img src="assets/images/temp_img/AIG Logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- profile dropdown -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main_navbar mb-2 mb-lg-0 ms-auto align-items-center">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="#">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard/intro">Documentation</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Partners</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Support</a>
                        </li>
                        <div class="dropdown position-relative">
                            <a class="fs-14 fw-600 white dropdown-toggle d-flex align-items-center show profile_dropdown"
                                href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
                                aria-expanded="true">
                                <img class="profile_img" src="assets/images/temp_img/profile-icon.png">
                                AIG@123
                                <i class="fi fi-sr-angle-small-down fs-18 lh-0 mx-0 ms-2"></i>
                            </a>
                            <ul class="dropdown-menu profiles_dropdown" aria-labelledby="dropdownMenuLink"
                                style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 52px);"
                                data-popper-placement="bottom-end">
                                <div class="mb-4">
                                    <a routerLink="/dashboard/profile">
                                        <li class="user_card fs-16 fw-500 black"><img class="drop_profile_img"
                                                src="assets/images/temp_img/profile-drop-icon.png">AIG@123
                                            <div class="mb-0 lh-0 mx-0 ms-auto p-0"><img
                                                    src="assets/images/svg_img/arrow.svg">
                                            </div>
                                        </li>
                                    </a>

                                </div>
                                <a routerLink="/dashboard/account">
                                    <li class="profile_card fs-15 fw-600 black">
                                        <img class="profile_icon" src="assets/images/svg_img/profile.svg">
                                        Account
                                        <div class="mb-0 lh-0 mx-0 ms-auto p-0"><img
                                                src="assets/images/svg_img/arrow.svg">
                                        </div>

                                    </li>
                                </a>
                                <li class="profile_card fs-15 fw-600 text_small" data-bs-target="#change_password"
                                    data-bs-toggle="modal">
                                    <img class="profile_icon" src="assets/images/svg_img/password.svg">
                                    Change Password
                                    <div class="mb-0 lh-0 mx-0 ms-auto p-0">
                                        <img src="assets/images/svg_img/arrow.svg">
                                    </div>
                                </li>
                                <li class="profile_card fs-15 fw-600 danger bg_danger" data-bs-target="#logout_modal"
                                    data-bs-toggle="modal">
                                    <img class="profile_icon bg_info" src="assets/images/svg_img/logout.svg">Logout
                                </li>
                            </ul>
                        </div>
                    </ul>

                </div>

            </div>
        </nav>
    </header>

    <!-- CHANGE PASSWORD MODAL -->
    <div class="modal fade" id="change_password" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <div>
                        <h1 class="fs-22 fw-600 text_small mb_10" id="exampleModalToggleLabel2">Change
                            password</h1>
                        <h3 class="fs-16 fw-500 info mb-0">Set a new login password for your account</h3>
                    </div>
                    <button type="button" class="btn_close fs-20" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fi fi-rr-cross-small lh-0"></i>
                    </button>
                </div>
                <div class="modal-body p-0">
                    <div class="mb-4 mt-4">
                        <div class="col-md-12 mb-3 ps-0 px-2">
                            <div class="position-relative">
                                <i class="fi fi-br-lock lock_icon"></i>
                                <input type="text" class="form-control password_input" placeholder="Current Password">
                                <i class="fi fi-rr-eye eye_icon"></i>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3 ps-0 px-2">
                            <div class="position-relative">
                                <i class="fi fi-br-lock lock_icon"></i>
                                <input type="text" class="form-control password_input" placeholder="New Password">
                                <i class="fi fi-rr-eye eye_icon"></i>
                            </div>
                        </div>
                        <div class="col-md-12 ps-0 px-2">
                            <div class="position-relative">
                                <i class="fi fi-br-lock lock_icon"></i>
                                <input type="text" class="form-control password_input" placeholder="Confirm Password">
                                <i class="fi fi-rr-eye-crossed eye_icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer p-0">
                    <button class="btn_primary fs-16 fw-500 w-100 m-0">Save Password</button>
                </div>
            </div>
        </div>
    </div>                 
    <!-- CHANGE PASSWORD MODAL END -->

    <!-- LOGOUT MODAL -->
    <div class="modal fade" id="logout_modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
        tabindex="-1">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header p-0 justify-content-center">
                    <div class="mb-4">
                        <h1 class="fs-22 fw-600 text_small mb_10 text-center" id="exampleModalToggleLabel2">Logout
                            Verification</h1>
                        <h3 class="fs-16 fw-400 info mb-0">Are you sure you want to logout this verification ?</h3>
                    </div>
                </div>

                <div class="modal-footer p-0 justify-content-center">
                    <div class="gap_20 d-flex">
                        <button class="btn_lg2 fs-16 fw-500" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        <button class="btn_lg fs-16 fw-500">Logout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGOUT MODAL END -->