    <!----------------- CREATE API SECTION START  ------------------------>

    <section class="d-flex  pt_top h-100">
        <!-- SIDEBAR START  -->
      <div class="sidebar">
          <ul class="sidebar_list">
              <li>Overview</li>
              <li>Help & Support</li>
          </ul>
      </div>
       <!-- MIDDLE CONTENT START -->
      <div class="create_api">
          <div class="col-md-8 m-auto">
              <div class="cards">
                  <div class="api_headings mb_50">
                      <h2 class="success mb_12 fs-30 fw-500">Create an API key</h2>
                      <h3 class="grey fs-17 fw-400 mb-0">As part of your plan you can create multiple API keys for no
                          additional cost.</h3>
                  </div>
                 <div class="mb_50">
                  <div class="material-textfield mb_30">
                      <input placeholder=" " type="text">
                      <label>Project name</label>
                  </div>
                  <div class="material-textfield">
                      <input placeholder=" " type="text">
                      <label>Please tell us a bit more about your project</label>
                  </div>
                 </div>
                 <button class="primary_btn"> Generate API key</button>
              </div>
          </div>
      </div>
  </section>
