
    <!----------------- ACCOUNT SECTION START  ------------------------>

    <section class="d-flex  pt_top h-100">
        <!-- SIDEBAR START  -->
        <div class="sidebar ss">
            <ul class="nav nav-pills sidebar_list" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active plan_heading" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-OVERVIEW" type="button" role="tab" aria-controls="pills-home"
                        aria-selected="true">Overview</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link plan_heading" id="pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#pills-PROFILE" type="button" role="tab" aria-controls="pills-profile"
                        aria-selected="false">Profile</button>
                </li>
            </ul>
        </div>


        <div class="tab-content create_api scroll_bar" id="pills-tabContent">

            <!-- OVERVIEW TABS -->
            <div class="tab-pane fade show active " id="pills-OVERVIEW" role="tabpanel" aria-labelledby="pills-home-tab"
                tabindex="0">
                <!-- MIDDLE CONTENT START -->
                <div class="">
                    <div class="col-md-11 m-auto">
                        <div class="api_card">
                            <h2 class="fs-30 fw-600 success mb_24">Get started with the AIG API</h2>
                            <h3 class="info fs-18 fw-400 mb_24">New to AIG ? Use our step by step guide to find out how
                                to
                                tailor AIG to your needs.</h3>
                            <div class="gap_24 d-flex">
                                <button class="primary_btn"> Start Building</button>
                                <button class="secondary_btn"> Developer docs</button>
                            </div>
                        </div>

                        <div class="api_section">

                            <!-- Ecommerce -->
                            <div class="border_bottom mb_50">
                               <div class="d-flex justify-content-between align-items-center  mb_30">
                                <h3 class="fs-24 fw-500 success">Total account usage</h3>
                                <a href="plan&price.html" class="primary_btn">Recharge</a>
                               </div>

                                <div class="d-flex gap_20" id="myDIV">
                                    <div class="Ecommerce_card total_account actives">
                                        <h4 class="mb_18 fs-40 fs-500 heading">1000</h4>
                                        <h5 class="mb-0  fs-16 fs-400">Requests Today</h5>
                                    </div>
                                    <div class="Ecommerce_card total_account">
                                        <h4 class="mb_18  fs-40 fs-500">0</h4>
                                        <h5 class="mb-0  fs-16 fs-400">Requests Today</h5>
                                    </div>
                                    <div class="Ecommerce_card total_account">
                                        <h4 class="mb_18  fs-40 fs-500">0</h4>
                                        <h5 class="mb-0 fs-16 fs-400">Requests last 7 Days</h5>
                                    </div>
                                </div>
                            </div>

                            <!-- Usage by API Key table -->

                            <div class="d-flex justify-content-between align-items-center mb_45">
                                <h2 class="mb-0 fs-24 fw-500 success">Usage by API Key</h2>
                                <a href="create-API.html" class="primary_btn">Create another key</a>
                            </div>
                            <table class="table mb-0 admin-table" id="dtHorizontalExample" cellspacing="0" width="100%">
                                <thead>
                                    <tr class="table_heading">
                                        <th scope="col">API Key</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Last 7 Day</th>
                                        <th scope="col">Date Created</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10KYPER</td>
                                        <td>Ecommerce</td>
                                        <td>0</td>
                                        <td>18/12/2023</td>
                                        <td>
                                            <button class="small_btn" type="button">
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10KYPER</td>
                                        <td>Ecommerce</td>
                                        <td>0</td>
                                        <td>18/12/2023</td>
                                        <td>
                                            <button class="small_btn" type="button">
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10KYPER</td>
                                        <td>Ecommerce</td>
                                        <td>0</td>
                                        <td>18/12/2023</td>
                                        <td>
                                            <button class="small_btn" type="button">
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>10KYPER</td>
                                        <td>Ecommerce</td>
                                        <td>0</td>
                                        <td>18/12/2023</td>
                                        <td>
                                            <button class="small_btn" type="button">
                                                View
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- HELP & SUPPORT START -->
            <div class="tab-pane fade" id="pills-PROFILE" role="tabpanel" aria-labelledby="pills-profile-tab"
                tabindex="0">
                <div class="create_api scroll_bar" style="display: none;">
                    <div class="col-md-10 m-auto">
                        <H4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis odit deserunt veniam
                            laboriosam? Neque nemo
                            officia nesciunt dicta eveniet quasi corrupti soluta placeat ex, illum minus consequatur
                            autem vitae distinctio porro
                            accusamus necessitatibus. Quam aliquam minima veniam fuga ad ipsum.</H4>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <script>
        // Add active class to the current button (highlight it)
        var header = document.getElementById("myDIV");
        var btns = header.getElementsByClassName("total_account");
  
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("actives");
                current[0].className = current[0].className.replace(" actives", "");
                this.className += " actives";
            });
        }
    </script>