   <!----------------- HERO SECTION START  ------------------------>

   <section class="col-md-6 pt_top m-auto pt_top profile-page">
    <div class="profile_page">
        <!-- profile edit -->
        <h4 class="black fs-20 fw-500 mb_12">My Profile</h4>
        <div class="profiles_card" id="btn1">
            <img class="profileimg" src="assets/images/temp_img/profile-img.png">
            <div class="ms_12 my_profile">
                <h2 class="fs-20 fw-600 black mb-1">AIG@123</h2>
                <h3 class="fs-16 fw-500 info mb-1">AIG@gmail.com</h3>
                <h4 class="fs-16 fw-500 info mb-0">+91 987654321</h4>
            </div>
            <button class="edit_btn fs-18 fw-500 success right_menu_toggle ms-auto mx-0"
                (click)="editButtonToggel(true)">
                <img src="assets/images/svg_img/Pen2.svg">Edit
            </button>
        </div>
        <!-- Edit Profile box -->
        <div class="profile_edit mb_30 br_10" id="btn2">
            <div class="d-flex  align-items-center mb-4">
                <input id="file" type="file" onchange="loadFile(event)" class="d-none">
                <img class="profileimg" id="output" src="assets/images/temp_img/profile-img.png">
                <label class="-label" for="file">
                    <a class="secondary fs-16 fw-500 mx-0 ms-4 change_img d-flex">
                        <img class="mx-2 ms-0" src="assets/images/svg_img/album.svg">Change Image
                    </a>
                </label>
            </div>

            <div class="row mb-2">
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-14 fw-500 mb-2">User Name</label>
                    <input type="text" class="profile_input" placeholder="AIG@123">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-14 fw-500 mb-2">Company Name</label>
                    <input type="text" class="profile_input" placeholder="AIG">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-14 fw-500 mb-2">Email </label>
                    <input type="text" class="profile_input" placeholder="aig@gmail.com">
                </div>
                <div class="col-md-6 mb">
                    <label for="" class="info fs-14 fw-500 mb-2">Phone Number</label>
                    <input type="text" class="profile_input" placeholder="9987456322">
                </div>
            </div>
            <div class="gap_20 d-flex justify-content-end">
                <button class="btn_secondary fs-16 fw-500"    (click)="editButtonToggel(false)">Cancel</button>
                <button class="btn_primary fs-16 fw-500 right_menu_toggle" onclick="btn2_controller()">Save
                    changes</button>

            </div>
        </div>

        <!-- Personal Information -->
        <div class="profile_edit mb_30 br_10">
            <h4 class="black fs-20 fw-500 mb_20">Personal Information</h4>
            <div class="row mb-2">
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">First Name</label>
                    <input type="text" class="profile_input" placeholder="Rashmi">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">Last Namee</label>
                    <input type="text" class="profile_input" placeholder="Rajput">
                </div>
                <div class="col-md-12 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">NIN Number</label>
                    <input type="text" class="profile_input" placeholder="456589">
                </div>
            </div>
            <h4 class="black fs-20 fw-500 mb_20">Physical address verification</h4>
            <div>
                <h5  class="info fs-15 fw-500 mb-3">Utility bill</h5>
                <img src="assets/images/temp_img/bill.png" class="Utilitybill_img">
            </div>
        </div>

         <!-- Business Verification -->
         <div class="profile_edit mb_30 br_10">
            <h4 class="black fs-20 fw-500 mb_20">Business Verification</h4>
            <div class="row mb-2">
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">Business Name</label>
                    <input type="text" class="profile_input" placeholder="Rashmi">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">Type of business</label>
                    <div class="material-textfield">
                        <select class="" aria-label="Default select example">
                            <option selected="">Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">Business location</label>
                    <input type="text" class="profile_input" placeholder="456589">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">Type of business</label>
                    <input type="text" class="profile_input" placeholder="456589">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2"> Business physical address</label>
                    <input type="text" class="profile_input" placeholder="456589">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">Registration number</label>
                    <input type="text" class="profile_input" placeholder="456589">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">Tax Identification Number</label>
                    <input type="text" class="profile_input" placeholder="456589">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">NIN Number</label>
                    <input type="text" class="profile_input" placeholder="456589">
                </div>
            </div>
            <h4 class="black fs-20 fw-500 mb_20">Physical address verification</h4>
            <div>
                <h5  class="info fs-15 fw-500 mb-3">Utility bill</h5>
                <img src="assets/images/temp_img/bill.png" class="Utilitybill_img">
            </div>
        </div>

          <!-- Director Verification -->
          <div class="profile_edit mb_30 br_10">
            <h4 class="black fs-20 fw-500 mb_20">Director Verification</h4>
            <div class="row mb-2">
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">Name of director</label>
                    <input type="text" class="profile_input" placeholder="Rashmi">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">Physical Address</label>
                    <div class="material-textfield">
                        <select class="" aria-label="Default select example">
                            <option selected="">Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <label for="" class="info fs-16 fw-500 mb-2">NIN Number</label>
                    <input type="text" class="profile_input" placeholder="456589">
                </div>
            </div>
        </div>

    </div>

</section>
