   <!----------------- HERO SECTION START  ------------------------>

   <section class="col-md-11 pt_top ms-auto pt_top">
    <div class="mb_50 pt_42">
        <h3 class="fs-30 fw-500 success mb_40 plan_heading">Select your plan</h3>
        <section>
            <div class="outer-wrapper">
                <div class="inner-wrapper">
                    <div class="d-flex gap_30" id="myDIV">
                        <div class="plan_card col-md-3 active">
                            <h4 class=" fs-50 fs-400">$19 <span class="fs-16 fw-400">/ month</span></h4>
                            <hr class="border-line">
                            <h5 class="fs-32 fs-400">1000</h5>
                            <h6 class="fs-16 fs-400">Convert to coordinates per month</h6>
                        </div>
                        <div class="plan_card col-md-3">
                            <h4 class=" fs-50 fs-400">$19 <span class="fs-16 fw-400">/ month</span></h4>
                            <hr class="border-line">
                            <h5 class="fs-32 fs-400">1000</h5>
                            <h6 class="fs-16 fs-400">Convert to coordinates per month</h6>
                        </div>
                        <div class="plan_card col-md-3">
                            <h4 class=" fs-50 fs-400">$19 <span class="fs-16 fw-400">/ month</span></h4>
                            <hr class="border-line">
                            <h5 class="fs-32 fs-400">1000</h5>
                            <h6 class="fs-16 fs-400">Convert to coordinates per month</h6>
                        </div>
                        <div class="plan_card col-md-3">
                            <h4 class=" fs-50 fs-400">$19 <span class="fs-16 fw-400">/ month</span></h4>
                            <hr class="border-line">
                            <h5 class="fs-32 fs-400">1000</h5>
                            <h6 class="fs-16 fs-400">Convert to coordinates per month</h6>
                        </div>
                        <div class="plan_card col-md-3">
                            <h4 class=" fs-50 fs-400">$19 <span class="fs-16 fw-400">/ month</span></h4>
                            <hr class="border-line">
                            <h5 class="fs-32 fs-400">1000</h5>
                            <h6 class="fs-16 fs-400">Convert to coordinates per month</h6>
                        </div>
                        <div class="plan_card col-md-3">
                            <h4 class=" fs-50 fs-400">$19 <span class="fs-16 fw-400">/ month</span></h4>
                            <hr class="border-line">
                            <h5 class="fs-32 fs-400">1000</h5>
                            <h6 class="fs-16 fs-400">Convert to coordinates per month</h6>
                        </div>
                        <div class="plan_card col-md-3">
                            <h4 class=" fs-50 fs-400">$19 <span class="fs-16 fw-400">/ month</span></h4>
                            <hr class="border-line">
                            <h5 class="fs-32 fs-400">1000</h5>
                            <h6 class="fs-16 fs-400">Convert to coordinates per month</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pseduo-track"></div>
        </section>
    </div>
</section>
<div class="plans_details">
    <div class="container plans_points">
        <div class="col-md-12">
           <div class="select_plans">
            <ul class="plans">
                <li><img src="assets/images/svg_img/check-circle.svg" class="mx-3 ms-0">Plus unlimited request for Convert <br>to 3 word address</li>
                <li><img src="assets/images/svg_img/check-circle.svg" class="mx-3 ms-0">Autosuggest 40+ language Grid</li>
                <li><img src="assets/images/svg_img/check-circle.svg" class="mx-3 ms-0">Volume discounts Priority support</li>
                <li><img src="assets/images/svg_img/check-circle.svg" class="mx-3 ms-0">Volume discounts Priority support</li>
                <li><img src="assets/images/svg_img/check-circle.svg" class="mx-3 ms-0">Volume discounts Priority support</li>
            </ul>
        
           </div>
       </div>
    </div>
</div>
