
<app-navbar></app-navbar>
    <!----------------- ACCOUNT SECTION START  ------------------------>

    <section class="d-flex  pt_top h-100">
        <!-- SIDEBAR START  -->
        <div class="sidebar ss">
            <!-- Getting Started Accordian -->
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Getting Started
                            
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                            <ul class="nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item mb_20" role="presentation">
                                    <button class="nav-link active" id="pills-intro-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-intro" type="button" role="tab"
                                        aria-controls="pills-intro" aria-selected="true">Introduction</button>
                                </li>
                                <li class="nav-item mb_20" role="presentation">
                                    <button class="nav-link" id="pills-DataModal-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-DataModal" type="button" role="tab"
                                        aria-controls="pills-DataModal" aria-selected="false">Data Modal</button>
                                </li>
                                <li class="nav-item mb_20" role="presentation">
                                    <button class="nav-link" id="pills-URLformat-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-URLformat" type="button" role="tab"
                                        aria-controls="pills-URLformat" aria-selected="false">URL format</button>
                                </li> 
                            </ul>
                        </div>
                    </div>
                </div>
                

                <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Verification
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <ul class="nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item mb_20" role="presentation">
                                <button class="nav-link active" id="pills-intro-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-intro" type="button" role="tab"
                                    aria-controls="pills-intro" aria-selected="true">Introduction</button>
                            </li>
                            <li class="nav-item mb_20" role="presentation">
                                <button class="nav-link" id="pills-DataModal-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-DataModal" type="button" role="tab"
                                    aria-controls="pills-DataModal" aria-selected="false">Data Modal</button>
                            </li>
                            <li class="nav-item mb_20" role="presentation">
                                <button class="nav-link" id="pills-URLformat-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-URLformat" type="button" role="tab"
                                    aria-controls="pills-URLformat" aria-selected="false">URL format</button>
                            </li> 
                        </ul>
                      </div>
                    </div>
                  </div>
            </div>
        </div>


        <div class="create_api scroll_bar">
            <!-- MIDDLE CONTENT START -->
            <!-- Getting Started Accordian tabs -->
            <div class="tab-content" id="pills-tabContent">
                <!-- introduction tabs 1  -->
                <div class="tab-pane fade show active" id="pills-intro" role="tabpanel"
                    aria-labelledby="pills-intro-tab" tabindex="0">
                    <div class="col-md-11 m-auto">
                        <div class="api_card">
                            <h2 class="fs-30 fw-600 success mb_24">Build Better Experiences</h2>
                            <h3 class="info fs-18 fw-400 mb_24">Start building quickly with documentation that makes
                                integration and
                                scalability seamless. With step-by-step instructions on
                                implementing across Ticketmaster APIs and SDKs, get the documentation you need here.
                            </h3>
                            <div class="gap_24 d-flex">
                                <button class="primary_btn">Get Your API Key</button>
                            </div>
                        </div>

                        <div class="api_intro_section">

                            <!-- INTRO SECTION -->
                            <div class="intro_section border_bottom">
                                <h3 class="fs-24 fw-500 success mb_20 intro_title">Introduction</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="right_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_20">To get the most out of your
                                                experience, <span class="success"> register for an API or login to your
                                                    account </span> now.
                                                We’ll render links in examples and code samples into active
                                                link using your own API Key. If you prefer to jump right into the APIs
                                                and
                                                make live calls,
                                                check out the API Explorer.</h3>
                                            <h4 class="fs-16 fw-400 grey lh_24">We currently offer event discovery APIs
                                                with
                                                various Upon registration and obtaining your API key, you will be able
                                                to
                                                access our
                                                <span class="success"> Discovery </span> APIs instantly. Using these
                                                APIs
                                                allows you to create a meaningful event discovery experience for your
                                                fans.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="left_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_40">Note: The <span
                                                    class="success">International Discovery API</span>
                                                is currently being consolidated with
                                                the <span class="success">Discovery API,</span> therefore we recommend
                                                that
                                                developers plan to use this
                                                single service for access to global events.</h3>

                                            <div class="url_card">
                                                <div class="url_heading">
                                                    <h3 class="fs-16 fw-400 light mb-0">BASE URL</h3>
                                                </div>
                                                <div class="base_url">
                                                    <a href="https://api.aig.com"
                                                        class="fs-16 fw-400 light mb-0">https://api.aig.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- INTRO SECTION -->
                            <div class="intro_section">
                                <h3 class="fs-24 fw-500 success mb_20 intro_title">Introduction</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="right_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_20">To get the most out of your
                                                experience, <span class="success"> register for an API or login to your
                                                    account </span> now.
                                                We’ll render links in examples and code samples into active
                                                link using your own API Key. If you prefer to jump right into the APIs
                                                and
                                                make live calls,
                                                check out the API Explorer.</h3>
                                            <h4 class="fs-16 fw-400 grey lh_24">We currently offer event discovery APIs
                                                with
                                                various Upon registration and obtaining your API key, you will be able
                                                to
                                                access our
                                                <span class="success"> Discovery </span> APIs instantly. Using these
                                                APIs
                                                allows you to create a meaningful event discovery experience for your
                                                fans.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="left_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_40">Note: The <span
                                                    class="success">International Discovery API</span>
                                                is currently being consolidated with
                                                the <span class="success">Discovery API,</span> therefore we recommend
                                                that
                                                developers plan to use this
                                                single service for access to global events.</h3>

                                            <div class="url_card">
                                                <div class="url_heading">
                                                    <h3 class="fs-16 fw-400 light mb-0">BASE URL</h3>
                                                </div>
                                                <div class="base_url">
                                                    <a href="https://api.aig.com"
                                                        class="fs-16 fw-400 light mb-0">https://api.aig.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Data Modal tabs 2 -->
                <div class="tab-pane fade" id="pills-DataModal" role="tabpanel" aria-labelledby="pills-DataModal-tab"
                    tabindex="0">
                    <div class="col-md-10 m-auto">
                        <div class="api_card">
                            <h2 class="fs-30 fw-600 success mb_24">Build Better Experiences2</h2>
                            <h3 class="info fs-18 fw-400 mb_24">Start building quickly with documentation that makes
                                integration and
                                scalability seamless. With step-by-step instructions on
                                implementing across Ticketmaster APIs and SDKs, get the documentation you need here.
                            </h3>
                            <div class="gap_24 d-flex">
                                <button class="primary_btn">Get Your API Key</button>
                            </div>
                        </div>

                        <div class="api_intro_section">

                            <!-- INTRO SECTION -->
                            <div class="intro_section border_bottom">
                                <h3 class="fs-24 fw-500 success mb_20">Introduction</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="right_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_20">To get the most out of your
                                                experience, <span class="success"> register for an API or login to your
                                                    account </span> now.
                                                We’ll render links in examples and code samples into active
                                                link using your own API Key. If you prefer to jump right into the APIs
                                                and
                                                make live calls,
                                                check out the API Explorer.</h3>
                                            <h4 class="fs-16 fw-400 grey lh_24">We currently offer event discovery APIs
                                                with
                                                various Upon registration and obtaining your API key, you will be able
                                                to
                                                access our
                                                <span class="success"> Discovery </span> APIs instantly. Using these
                                                APIs
                                                allows you to create a meaningful event discovery experience for your
                                                fans.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="left_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_40">Note: The <span
                                                    class="success">International Discovery API</span>
                                                is currently being consolidated with
                                                the <span class="success">Discovery API,</span> therefore we recommend
                                                that
                                                developers plan to use this
                                                single service for access to global events.</h3>

                                            <div class="url_card">
                                                <div class="url_heading">
                                                    <h3 class="fs-16 fw-400 light mb-0">BASE URL</h3>
                                                </div>
                                                <div class="base_url">
                                                    <a href="https://api.aig.com"
                                                        class="fs-16 fw-400 light mb-0">https://api.aig.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- INTRO SECTION -->
                            <div class="intro_section">
                                <h3 class="fs-24 fw-500 success mb_20">Introduction</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="right_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_20">To get the most out of your
                                                experience, <span class="success"> register for an API or login to your
                                                    account </span> now.
                                                We’ll render links in examples and code samples into active
                                                link using your own API Key. If you prefer to jump right into the APIs
                                                and
                                                make live calls,
                                                check out the API Explorer.</h3>
                                            <h4 class="fs-16 fw-400 grey lh_24">We currently offer event discovery APIs
                                                with
                                                various Upon registration and obtaining your API key, you will be able
                                                to
                                                access our
                                                <span class="success"> Discovery </span> APIs instantly. Using these
                                                APIs
                                                allows you to create a meaningful event discovery experience for your
                                                fans.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="left_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_40">Note: The <span
                                                    class="success">International Discovery API</span>
                                                is currently being consolidated with
                                                the <span class="success">Discovery API,</span> therefore we recommend
                                                that
                                                developers plan to use this
                                                single service for access to global events.</h3>

                                            <div class="url_card">
                                                <div class="url_heading">
                                                    <h3 class="fs-16 fw-400 light mb-0">BASE URL</h3>
                                                </div>
                                                <div class="base_url">
                                                    <a href="https://api.aig.com"
                                                        class="fs-16 fw-400 light mb-0">https://api.aig.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- URL format tabs 3 -->
                <div class="tab-pane fade" id="pills-URLformat" role="tabpanel" aria-labelledby="pills-URLformat-tab"
                    tabindex="0">
                    <div class="col-md-10 m-auto">
                        <div class="api_card">
                            <h2 class="fs-30 fw-600 success mb_24">Build Better Experiences3</h2>
                            <h3 class="info fs-18 fw-400 mb_24">Start building quickly with documentation that makes
                                integration and
                                scalability seamless. With step-by-step instructions on
                                implementing across Ticketmaster APIs and SDKs, get the documentation you need here.
                            </h3>
                            <div class="gap_24 d-flex">
                                <button class="primary_btn">Get Your API Key</button>
                            </div>
                        </div>

                        <div class="api_intro_section">

                            <!-- INTRO SECTION -->
                            <div class="intro_section border_bottom">
                                <h3 class="fs-24 fw-500 success mb_20">Introduction</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="right_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_20">To get the most out of your
                                                experience, <span class="success"> register for an API or login to your
                                                    account </span> now.
                                                We’ll render links in examples and code samples into active
                                                link using your own API Key. If you prefer to jump right into the APIs
                                                and
                                                make live calls,
                                                check out the API Explorer.</h3>
                                            <h4 class="fs-16 fw-400 grey lh_24">We currently offer event discovery APIs
                                                with
                                                various Upon registration and obtaining your API key, you will be able
                                                to
                                                access our
                                                <span class="success"> Discovery </span> APIs instantly. Using these
                                                APIs
                                                allows you to create a meaningful event discovery experience for your
                                                fans.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="left_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_40">Note: The <span
                                                    class="success">International Discovery API</span>
                                                is currently being consolidated with
                                                the <span class="success">Discovery API,</span> therefore we recommend
                                                that
                                                developers plan to use this
                                                single service for access to global events.</h3>

                                            <div class="url_card">
                                                <div class="url_heading">
                                                    <h3 class="fs-16 fw-400 light mb-0">BASE URL</h3>
                                                </div>
                                                <div class="base_url">
                                                    <a href="https://api.aig.com"
                                                        class="fs-16 fw-400 light mb-0">https://api.aig.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- INTRO SECTION -->
                            <div class="intro_section">
                                <h3 class="fs-24 fw-500 success mb_20">Introduction</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="right_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_20">To get the most out of your
                                                experience, <span class="success"> register for an API or login to your
                                                    account </span> now.
                                                We’ll render links in examples and code samples into active
                                                link using your own API Key. If you prefer to jump right into the APIs
                                                and
                                                make live calls,
                                                check out the API Explorer.</h3>
                                            <h4 class="fs-16 fw-400 grey lh_24">We currently offer event discovery APIs
                                                with
                                                various Upon registration and obtaining your API key, you will be able
                                                to
                                                access our
                                                <span class="success"> Discovery </span> APIs instantly. Using these
                                                APIs
                                                allows you to create a meaningful event discovery experience for your
                                                fans.
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="left_intro">
                                            <h3 class="fs-16 fw-400 grey lh_24 mb_40">Note: The <span
                                                    class="success">International Discovery API</span>
                                                is currently being consolidated with
                                                the <span class="success">Discovery API,</span> therefore we recommend
                                                that
                                                developers plan to use this
                                                single service for access to global events.</h3>

                                            <div class="url_card">
                                                <div class="url_heading">
                                                    <h3 class="fs-16 fw-400 light mb-0">BASE URL</h3>
                                                </div>
                                                <div class="base_url">
                                                    <a href="https://api.aig.com"
                                                        class="fs-16 fw-400 light mb-0">https://api.aig.com</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
               
            </div>

        </div>
    </section>